@import "common";

/* class to resize svgs (because it can't be set like you do with pixel images) */
.svg-500px {
  width: 500px;
}
.svg-400px {
  width: 400px;
}
.svg-600px {
  width: 600px;
}
/* override bootstrap's default */
pre {
  background-color: #fff;
  border: 1px solid $eb-gray-light;
}
code{
  font-family: monospace; /* Courier New sucks. it's too light. */
}
/* only for the intermediate state (after crayon, before markdown). can be removed after migration to markdown is completed. */
span.crayon-inline{
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
